<!--==========================
Contact Section
============================-->
<section id="contact">
        <div class="container-fluid">
    
            <div class="section-header">
            <h3>Contact Us</h3>
            </div>
    
            <div class="row wow fadeInUp">
    
            <div class="col-lg-6">
                <div class="row">
                <div class="col-md-5 info">
                    <i class="ion-ios-location-outline"></i>
                    <!-- <p>Dwarka, New Delhi</p> -->
                </div>
                <div class="col-md-4 info">
                    <i class="ion-ios-email-outline"></i>
                    <!-- <p>assist@289solutions.com</p> -->
                </div>
                <div class="col-md-3 info">
                    <i class="ion-ios-telephone-outline"></i>
                    <!-- <p>+91 01234 56789</p> -->
                </div>
                </div>
    
                <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                    <div class="form-group col-lg-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="First & Last Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Mobile Number" data-rule="minlen:10 maxlen:10" data-msg="Mobile number should be of 10 digit. Please do not include country code." />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="text" class="form-control" name="company" id="company" placeholder="Organization Name" data-rule="minlen:4" data-msg="Please enter a valid organization name" />
                        <div class="validation"></div>
                    </div>
					<div class="form-group col-lg-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map mb-4 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224346.6136836239!2d77.06889825461536!3d28.52721814252457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew+Delhi%2C+Delhi!5e0!3m2!1sen!2sin!4v1564746041076!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.11609993252!2d72.74109841272528!3d19.082197838415592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1564746313018!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13897.546796540195!2d75.66360352672828!3d29.446716463657104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39117f1f58357099%3A0x26abd25e94f7e456!2sGorakhpur%2C+Haryana+125047!5e0!3m2!1sen!2sin!4v1564746332340!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227822.55035916282!2d80.80242572223953!3d26.848622992690267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd991f32b16b%3A0x93ccba8909978be7!2sLucknow%2C+Uttar+Pradesh!5e0!3m2!1sen!2sin!4v1564746349432!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230660.99610878588!2d81.66149737319584!3d25.402197389026963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398534c9b20bd49f%3A0xa2237856ad4041a!2sPrayagraj%2C+Uttar+Pradesh!5e0!3m2!1sen!2sin!4v1564746450071!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
    
            </div>
    
        </div>
        </section><!-- #contact -->