<header id="header">
  <div class="container-fluid">
    <div class="logo float-left">
        <a class="scrollto" class="nav-link" aria-current="false" [routerLink]="['/','intro']"><img src="./assets/img/header.png" alt="" class="img-fluid"></a>
    </div>
    <nav class="main-nav float-left">
      <ul>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="false" [routerLink]="['/','home']">
              Home
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="false" [routerLink]="['/','services']">
              Services
            </a>
          </li>
          <!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" aria-current="false" [routerLink]="['/','contact']">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header> 


<router-outlet></router-outlet>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6 footer-info">
              <h3>289solutions</h3>
              <p>Build strategies, Build confidence, Build your business.</p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a class="btn-get-started scrollto" aria-current="false" [routerLink]="['/','services']">Services</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                A/203, Manglam Tower <br>
                Dwarka Sec 10 <br>
                New Delhi, 235784<br>
                India <br>
                <strong>Phone:</strong> +91 01234 56789<br>
                <strong>Email:</strong> help@289solutions.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
  
            </div>
  
            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Subscribe to our website for updated news and opportunities.</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit"  value="Subscribe">
              </form>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>289Solutions</strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- #footer -->