<section id="intro" class="clearfix">
        <div class="container">
            <!-- <div class="intro-img">
            <img src="./assets/img/intro-img.svg" alt="" class="img-fluid">
            </div> -->
            <div class="intro-info">
            <h2>We provide<br><span><a aria-current="false" [routerLink]="['/','services']">
              Solutions</a></span><br>For Your Business</h2>
            <div>
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a class="btn-get-started scrollto" aria-current="false" [routerLink]="['/','services']">
                  Our Services
                </a>
                <a class="btn-get-started scrollto" aria-current="false" [routerLink]="['/','contact']">
                  Contact Us
                </a>
            </div>
            </div>
        </div>
    </section><!-- #intro -->
    
    <section id="about">
            <div class="container">
          
              <header class="section-header">
                <!-- <h3>About Us</h3> -->
                <p>Supporting a broad range of corporations, institutions by providing strategic advice, startup establishment and risk management expertise</p>
              </header>
          
              <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                  <p>
                    We work as a team. We provide provide solutions and guidance throughout the success achievement. We ensure success. We are your idea. We are team 289Solutions.
                  </p>
          
                  <div class="icon-box wow fadeInUp">
                  <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                  <h4 class="title"><a href="">Legal & Taxation</a></h4>
                  <p class="description">Get connected instantly for tax and legal solutions and assistance to corporates, institutions, proprietors.</p>
                  </div>
          
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-photo"></i></div>
                    <h4 class="title"><a href="">Startups and Incumbents</a></h4>
                    <p class="description">Connect with us to get all services at one place for Entrepreneurs. Capital raising, organization establishment, taxation, audit, marketting, recruitment & innovative technology solutions.</p>
                  </div>
          
                  <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                    <h4 class="title"><a href="">Career Counselling</a></h4>
                    <p class="description">Connect with us to get all possible career option for secured future. We help to grow, we focus on outcomes.</p>
                  </div>
          
                </div>
          
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                  <img src="./assets/img/about-img.svg" class="img-fluid" alt="">
                </div>
              </div>
          
                <div class="row about-extra">
                  <div class="col-lg-6 wow fadeInUp">
                    <img src="./assets/img/about-extra-1.svg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>Delivering results that endure</h4>
                    <p>
                        289 Solutions is a full service provider of legal solutions specifically developed to meet the challenges institutions face today.
                    </p>
                    <p>
                      Our steady focus, innovative approach, exceptional service and seamless execution help our clients to reduce risk, drive efficiency and capture opportunities in a rapidly shifting landscape.
                    </p>
                  </div>
                </div>
          
                <div class="row about-extra">
                  <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="./assets/img/about-extra-2.svg" class="img-fluid" alt="">
                  </div>
                  <!-- https://sloganshub.org/consulting-slogans/ -->
                  <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>Helping you to obtain your potential</h4>
                    <p>
                      We help you to explore strategic potential market and grab opportunities. We help you to understand the ever chaging complex regulations and establish your hastle free startup.
                    </p>
                    <p>
                      We work as a team with renounced advisors to provide expertise solutions in the field of legal matters, taxation, contracts and agreements, deal negotiation, insurance, marketing, innovative and competing technology solutions.
                    </p>
                    <p>
                      We help to take your career and business to the next level. We make it happen, Better.
                    </p>
                  </div>
          
                </div>
          
            </div>
          </section><!-- #about -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container">
          <div class="section-header">
            <h3>Advisory Board</h3>
            <p>Expertise on board to assist through out solution designing and execution.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="./assets/img/team-1.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Company Secretory</h4>
                    <span>Corporate affairs, Legal & taxation</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="./assets/img/team-2.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Development Officer</h4>
                    <span>Insurance, Capital Raising & Real Estate Expert</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="./assets/img/team-3.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Global Marhet Head</h4>
                    <span>Product Release & Marketing, Client Acquisition</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="./assets/img/team-4.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Assitant Vice President</h4>
                    <span>IT Solutioning, Technical & Behavioural Trainer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #team -->
 
    <router-outlet></router-outlet>
